#menu{
    display: flex;
    align-items: center;
    height: 32px;
}
.secao{
    position: relative;
    display: flex;   
}
.classificados{
    border: 1px solid black;
    height: 260px;
}
.classificados h1{
    font-size: 2.5rem;
}
.pesquisa_anuncio{
    display: flex;
    margin: auto;
    max-width: 100%;
    width: 820px;
    text-align: center;
    margin-top: 15px;  
}
.pesquisa_anuncio label{
    display: flex;
    float: left;
    font-weight: bold;
}
.btn-info{
    max-width: 100%;
    width: 280px;
}
footer{
    display: flex;
    margin-top: 50px;
}
.foter{
    display: flex;
    max-width: 100%;
    height: 230px;
    background-color: #2B2E30;
    color:#fff;
    align-items: flex-end;
    align-content: center;   
}

.foter p{
    margin: 10px auto;
}

.formulario{
    max-width: 100%;
    width: 480px;
    padding: 10px;
    border: 2px solid #A6CCBE;
    margin: auto;
    margin-bottom: 20px;
}
.formulario .btn{
    display: flex;
    margin: auto;
}

.cad, .log{
    max-width: 100%;
    width: 190px;
    display: flex;
    margin: auto;
}
.cad h1, .log h1{
    padding-left: 10px;
}
.cliente{
    display: flex;
    margin: auto;
    color: #BABBC4;
}

.foto_item{
    width: 150px;
    text-align: center;
    margin-right: 10px;
    float: left;
}
.foto_item img{
    width: 150px;
    height: 150px;
}
.foto_item a{
    margin-top: 10px;
}
